In [3]:
!unzip 8503d976798f11ea.zip

Archive:  8503d976798f11ea.zip
   creating: Dataset/
  inflating: Dataset/Train.csv
  inflating: Dataset/sample_submission.csv
  inflating: Dataset/Test.csv

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import RandomizedSearchCV

import pandas as pd

In [48]:
from keras.models import Sequential
from keras import layers
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.wrappers.scikit_learn import KerasClassifier

In [8]:
df_train = pd.read_csv("/content/Dataset/Train.csv")
df_train.head()

           ID  ... label
0  uid_590555  ...     0
1  uid_671762  ...     1
2  uid_519689  ...     0
3  uid_788362  ...     1
4  uid_299252  ...     1

[5 rows x 10 columns]

In [11]:
sentences = df_train['comment'].values
y = df_train['label'].values

sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size=0.25, random_state=1000)

In [35]:
vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)

In [36]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
score = classifier.score(X_test, y_test)

print("Accuracy:", score)

Accuracy: 0.6338666666666667

# Keras Model

In [ ]:
input_dim = X_train.shape[1]  # Number of features

model = Sequential()
model.add(layers.Dense(10, input_dim=input_dim, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

# Testing

In [22]:
df_test = pd.read_csv("/content/Dataset/Test.csv")
df_test.head()

           ID  ...                  user
0  uid_764784  ...  Cameltoe-Swampdonkey
1   uid_67552  ...            Gothika_47
2  uid_240490  ...                 tells
3   uid_56568  ...        YourToothbrush
4  uid_875860  ...   drunken_trophy_wife

[5 rows x 9 columns]

In [29]:
sentences_testing = df_test['comment'].values

8000

In [38]:
X_testing = vectorizer.transform(sentences_testing)

In [39]:
pred_test = classifier.predict(X_testing)
pred_test

array([0, 1, 1, ..., 1, 0, 0])

# Submission

In [40]:
submission = pd.read_csv("/content/Dataset/sample_submission.csv")
submission.head()

           ID  label
0  uid_764784      0
1   uid_67552      0
2  uid_240490      0
3   uid_56568      1
4  uid_875860      1

In [43]:
submission = pd.DataFrame(columns=submission.columns)

In [44]:
submission['label'] = pred_test
submission['ID']=df_test['ID']

In [45]:
submission.head()

           ID  label
0  uid_764784      0
1   uid_67552      1
2  uid_240490      1
3   uid_56568      0
4  uid_875860      0

In [46]:
submission.shape

(8000, 2)

In [47]:
pd.DataFrame(submission).to_csv('my_sub_1.csv', index=False)